---

---

<footer>
    <div class="container">
        <div class="footer-links">
            <a href="mailto:eben.quenneville@unh.edu">Email</a>
            <a
                href="https://linkedin.com/in/ebenq"
                target="_blank"
                rel="noopener noreferrer">LinkedIn</a
            >
            <a
                href="https://github.com/TonehavenE"
                target="_blank"
                rel="noopener noreferrer">GitHub</a
            >
        </div>
        <p>&copy; 2025 Eben Quenneville.</p>
    </div>
</footer>

<style>
    footer {
        background-color: var(--base01);
        border-top: 1px solid var(--base02);
        padding: 1rem 0 0 0;
        text-align: center;
        width: 100%;
        position: relative;
        bottom: 0;
    }

    .footer-links {
        margin-bottom: 0.5rem;
    }

    .footer-links a {
        color: var(--base05);
        text-decoration: none;
        margin: 0 0.5rem;
        transition: color 0.3s ease;
    }

    .footer-links a:hover {
        color: var(--base0D);
    }

    footer p {
        margin: 0;
        font-size: 0.9rem;
    }
</style>
